{
    "semi": true,
    "singleQuote": true,
    "printWidth": 150,
    "tabWidth": 4,
    "trailingComma": "all",
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["cn"],
    "overrides": [
        {
            "files": "**/*.{yml,yaml}",
            "options": { "tabWidth": 2 }
        }
    ]
}
